# Included in yml file, must match versions
numpy~=1.26
scipy~=1.15.1
matplotlib~=3.8
pandas~=2.2
# Independent of yml file
setuptools~=75.8.0
PySimpleGUI~=4.70.1
pillow~=11.1.0
nibabel~=5.3.2
nipype~=1.9.2
templateflow~=24.2.0
